<h1>Index</h1>
<div class="container ">
  <div class="prose mx-auto">
    <% @blog_posts.each do |post| %>
      <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto">
        <%= image_tag post.cover_image if post.cover_image.present? %>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><%= link_to post.title, post %></div>
          <p class="text-gray-700 text-base">
            <%= post.content %>
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
      </div>
    <% end %>
  </div>
  <% if @pagy.count > @pagy.items %>
    <div class="mx-auto my-16 flex justify-center">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  <% end %>
</div>
